*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="number"] {
        -moz-appearance: textfield;
}
/* تغییر رنگ placeholder */
input[type="number"]::placeholder {
	color: gray;  /* رنگ placeholder */
	font-weight: normal;
  }
  
  /* تغییر رنگ متن واقعی وارد شده */
  input[type="number"] {
	color: black;  /* رنگ متن وارد شده */
  }
.min-content{
    min-height: 80vh;
}
header{
  overflow-y: hidden !important;
}
.dot-position{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 40%;
}
.size-input{
    width:70px;
    height:70px;
    border-radius:40%;
}
.dot-position-home{
    display: flex;
    position: absolute;
    bottom:-2px;
    left: 40%;
}
.dot-position-about{
    display: flex;
    position: absolute;
    bottom:0px;
    left: 40%;

}
.bg-icon{
    background-color: #f2f3f5;
}
p{
    text-align: justify !important;
    font-size: 14px;
}
.scroll{
    overflow-x: auto !important;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.me-6{
    margin-right:6rem;
}



.custom-file-input {
  display: none;
}
.custom-file-label {
  display: inline-block;
  color: #6c757d;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}


.custom-file-input:focus + .custom-file-label {
  outline: none;
}






.custom-file-input1 {
  display: none;
}
.custom-file-label1 {
  display: inline-block;
  color: #6c757d;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}


.custom-file-input1:focus + .custom-file-label {
  outline: none;
}

.select2-selection.select2-selection--single{
  display: flex;
  align-items: center;
}
.select2-container .select2-selection__arrow b{
  display: none;
}
/* حذف فلش پیش‌فرض */
#mySelect + .select2-container .select2-selection__arrow {
  background: url('../images/Arrow.png') no-repeat center center;
  background-size:contain;
  top: 20px !important;
  left: 10px !important;
  width: 10px !important; 
  height:10px !important;
  border: none;
  z-index: 9999;
}

#mySelect1 + .select2-container .select2-selection__arrow {
  background: url('../images/list.svg') no-repeat center center;
  background-size:contain;
  top: 20px !important;
  left: 10px !important;
  width: 10px !important;  
  height:10px !important; 
  border: none;
  z-index: 9999;
}
#mySelect2 + .select2-container .select2-selection__arrow {
  background: url('../images/ArrowSecondary.svg') no-repeat center center;
  background-size:contain;
  top: 20px !important;
  left: 10px !important;
  width: 10px !important; 
  height:10px !important;
  border: none;
  z-index: 9999;
}
.select2-container--default .select2-results__option--highlighted{
  background-color: transparent !important;
  color: #ffc107 !important;
}
.select2-container--default .select2-results__option{
  background-color: transparent !important;
}
.select2-dropdown{
  border: none !important;
  padding: 0 10px;
}
.select2-search--dropdown .select2-search__field{
  border: none !important;
  background-color: #F2F3F5;
  border-radius:10px;
}
.select2-results__options{
  text-align: justify;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
 border: none !important;
  border-radius:10px;
  height: 50px;
  padding: 8px;
}

.bg-green{
  background-color:#6ECBC0;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}


::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}input[type="range"] {
	font-size: 1.5rem;
	width: 12.5em;
}

input[type="range"] {
	color: #ffc107;
	--thumb-height:1rem;
	--track-height:0.2rem;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
	color: #2b2d42;

	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}

/* === range commons === */
input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}
.disabled{
  background-color: #fccc65;
}
.select2.select2-container.select2-container--default{
	font-weight: bold !important;
}
#mySelect2 + .select2.select2-container.select2-container--default{
  color: #888 !important;
  font-weight: normal !important;
}
/* برای مخفی کردن نوار اسکرول فقط در کشوی Select2 */
.select2-container .select2-dropdown {
  scrollbar-width: thin; /* برای فایرفاکس */
  scrollbar-color: transparent transparent; /* برای فایرفاکس */
}

.select2-container .select2-dropdown::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.select2-container .select2-dropdown::-webkit-scrollbar-thumb {
  background: transparent;
}

.select2-container .select2-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

/* استایل برای حالت فعال */
.nav-item.active .icon {
  background-color: #ffc107; /* تغییر پس‌زمینه به رنگ هشدار */
}

.nav-item.active img {
  filter: grayscale(100%) brightness(0); /* تغییر رنگ آیکون به مشکی */
}
.fs-7{
  font-size: 14px;
}
.rounded-20{
  border-radius: 20px;
}
.form-ltr{
  direction: ltr;
}