*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="number"] {
        -moz-appearance: textfield;
}
.min-content{
    min-height: 80vh;
}
}
.dot-position{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 40%;
}
.size-input{
    width:70px;
    height:70px;
    border-radius:40%;
}
.dot-position-home{
    display: flex;
    position: absolute;
    bottom:-2px;
    left: 40%;
}
.dot-position-about{
    display: flex;
    position: absolute;
    bottom:0px;
    left: 40%;

}
.bg-icon{
    background-color: #f2f3f5;
}
p{
    text-align: justify !important;
    font-size: 14px;
}
.scroll{
    overflow-x: auto;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.me-6{
    margin-right:6rem;
}



.custom-file-input {
  display: none;
}
.custom-file-label {
  display: inline-block;
  color: #6c757d;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}


.custom-file-input:focus + .custom-file-label {
  outline: none;
}

